.DS_Store
applet
PhotoBooth3D/application.linux-arm64
PhotoBooth3D/application.linux-armv6hf
PhotoBooth3D/application.linux32
PhotoBooth3D/application.linux64
PhotoBooth3D/application.windows32
PhotoBooth3D/application.windows64
PhotoBooth3D/application.windows64-amd64
PhotoBooth3D/application.macosx
PhotoBooth3D/output
